runs*/
LJSpeech-1.1/
output*
scripts_joc/
tests/
pretrained_models/
*.pyc
__pycache__

.idea/
.DS_Store

*.swp
*.swo
*.swn
data.csv

audio/
cmudict/
libri_training_data/
prosodies_output/
LibriTTSLabel/
.vscode/
